doctype html
html
  head
    title React Works!
    link(rel="stylesheet" href="styles.css")
  body
    #common
      header
        h1 React Works!
        p.desc A brief showcase of Facebook's React technology and exposition of methods used in it.
      nav
        a(href="/") Home
        a(href="./react.html") What is React?
        a(href="./reaction.html") React in (re)Action
        a(href="./process.html") The Process (Part I)
        a(href="./process2.html") The Process (Part II)
      footer.largeview
        p 2017 Rafael Ferreira
    main
      block content
      footer.smallview
        p 2017 Rafael Ferreira
