extends default.pug

block content
  h1 React works indeed!
  h2 But what is this?
  p This page was created as a showcase of #[a(href="https://facebook.github.io/react/") React] (also called ReactJS to distinguish it from #[a(href="https://facebook.github.io/react-native/") React-native]), a web framework made by Facebook.
  h2 And what is this not?
  p This is not a tutorial or guide on React, although it could be a nice introduction and example. If you're new to React, you might at least learn the general idea behind it here.
  p Also, this is not made for publicity for React or Facebook. Indeed, here's a small (but growing) #[a(href="https://github.com/rafaelferreiraql/worksindex") list of pages like this one] I have for other technologies.
  h2 Ok, but what is going on here?
  p I'll have to explain. This here is the home page, evidently. In the navigation bar you see on the left (or above if you happen to be on a smaller screen), you can also see "What is React?", "React in (re)Action" and "The Process". The first is exactly what it says on the tin, it briefly describes React and what it does. The second is the showcase itself, where React is used to create a tiny app; it's actually the only part that uses React. "The Process" is an in-depth explanation on how React was utilized to create that app.
