extends default.pug

block content
  h1 Planning your term
  p Let's say you were admitted to one of the most prestigious colleges in the world. You're euphoric, but then you're asked to build your schedule for the year. Oh, what to do? Some folks know the pain of organizing your schedule when the online tools provided to you are badly designed a drag to work with. Thankfully, I came to help you with your planning!
  p Just click the class you wish to attend and watch as the schedule fills up. Your total credits are also shown, as well as comparing them to the minimum and maximum accepted credits for the term. Have fun!
  #reaction
  script(src="app.js")
